.button {
  border: 1px solid transparent;
  border-radius: 6px;
  color: #333;
  font-size: 14px;
  height: 36px;
  text-align: center;
}

.button-contained {
  background-color: #2E7533;
  border: 1px solid #2E7533;
  color: #fff;
}

.button-outlined {
  background-color: transparent;
  border: 1px solid #dee1e3;
  color: #2E7533;
}
