.card {
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
}

.elevation-1 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.elevation-2 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}