@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

h1, h2, h3, h4, p, a, li, span, td, th, figcaption {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
h1 > a, h1 > a:visited {
    color: #333;
    text-decoration: none;
}
hr {
    border: 1px solid #ececec;
    margin: 1rem 0;
}

pre, code {
    font-family: 'Source Code Pro', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, monospace;
    font-size: 12px;
    line-height: 1.25;
}

p {
    color: #333;
    font-size: 15px;
    line-height: 1.5;
}

figure {
    margin: 0;
    margin: 2rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

figure img {
    border: 1.5px dotted #ececec;
    border-radius: 6px;
    overflow: hidden;
    padding: 1rem;
}

figcaption {
    margin-top: 0.25rem;
    font-size: 12px;
    color: #5E686B;
}

.flex {
    display: flex;
}
nav {
    width: 312px;
    background-color: #f9f9f9;
    border-right: 1px solid #ececec;
    padding: 3rem 1.5rem;
}

nav h1 {
    margin: 0 0 1.5rem;
}

nav h1 span, nav h1 span a {
    font-size: 10px;
    color: #4aa951;
}

main {
    width: calc(100% - 312px);
    padding: 40px 80px;
}

.colors {
    display: flex;
    flex-wrap: wrap;
}
.color-container {
    width: 160px;
    border: 1px solid #ececec;
    margin-right: 16px;
    margin-bottom: 16px;
}

.color-container .fill {
    width: 100%;
    height: 120px;
}

table {
    border: 1px solid lightgrey;
    border-spacing: 0;
    width: 100%;
}
td, th {
    padding: 12px;
}
th {
    text-align: left;
    color: grey;
}
th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid lightgrey;
}
tr:not(:last-child) td, tr:not(:last-child) th {
    border-bottom: 1px solid lightgrey;
}

.grid {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

pre {
    display: block;
    width: auto;
    white-space: pre-wrap;
    margin: 1rem 0;
    background-color: #f9f9f9;
    padding: 24px;
}

code {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 2px 6px;
}