* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.flex {
    display: flex;
}
nav {
    width: 312px;
    background-color: #f9f9f9;
    border-right: 1px solid #ececec;
    padding: 40px 24px;
}
main {
    width: calc(100% - 312px);
    padding: 40px 24px;
}
main img {
    border: 1px solid lightgrey;
}
.colors {
    display: flex;
    flex-wrap: wrap;
}
.color-container {
    width: 160px;
    border: 1px solid #ececec;
    margin-right: 16px;
    margin-bottom: 16px;
}

.color-container .fill {
    width: 100%;
    height: 120px;
}

table {
    border: 1px solid lightgrey;
    border-spacing: 0;
    width: 100%;
}
td, th {
    padding: 12px;
}
th {
    text-align: left;
    color: grey;
}
th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid lightgrey;
}
tr:not(:last-child) td, tr:not(:last-child) th {
    border-bottom: 1px solid lightgrey;
}

.grid {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

pre, code {
    display: block;
    width: auto;
    white-space: pre-wrap;
    margin: 1rem 0;
    background-color: #f9f9f9;
    padding: 24px;
}