{% extends "base.html" %}

{% block body %}
<h1 id="pageTitle">Component Status</h1>
<p>Current version: {{ version }}</p>
<hr>
<div class="content">
    <div class="status-key">
        <span><i class="fas fa-check-circle"></i>Available</span>
        <span><i class="fas fa-wrench"></i>In Progress</span>
        <span><i class="fas fa-ballot-check"></i>Planned</span>
        <span><i class="fas fa-ban"></i>Deprecated</span>
        <span><i class="fas fa-minus"></i>N/A</span>
    </div>
    <table>
        <tr>
            <th>Name<i class="fas fa-arrow-down"></i></th>
            <th>Design</th>
            <th>Sketch Library</th>
            <th>React</th>
        </tr>
        {% for component in components %}
        <tr>
            <td><a href="{% url "element", component %}">{{ component.title }}</a></td>
            {% for stat in component.status %}
                <td>
                    {% with status=stat.name|lower %}
                        {% include "status-icon.html" %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}