{% extends "base.html" %}

{% block body %}
<h1 id="pageTitle">Component Status</h1>
<hr>
<div class="content">
    <p>Current version: {{ version }}</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Design</th>
            <th>Sketch Library</th>
            <th>React</th>
        </tr>
        {% for component in components %}
        <tr>
            <td><a href="{% url "element", component %}">{{ component.title }}</a></td>
            <td>
                {% with status=component.status_design %}
                    {% include "status-icon.html" %}
                {% endwith %}
            </td>
            <td>
                {% with status=component.status_sketch_lib %}
                    {% include "status-icon.html" %}
                {% endwith %}
            </td>
            <td>
                {% with status=component.status_react %}
                    {% include "status-icon.html" %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h3>Status Descriptions</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Stable</td>
            <td>This component has been implemented by Engineering and approved by Design.</td>
        </tr>
        <tr>
            <td>In Progress</td>
            <td>This component is being implemented by Engineering.</td>
        </tr>
        <tr>
            <td>Experimental</td>
            <td>This component is currently being worked on by Design.</td>
        </tr>
        <tr>
            <td>Deprecated</td>
            <td>This component has been removed from the Design System and should no longer be used.</td>
        </tr>
    </table>
</div>
{% endblock %}