{% extends "base.html" %}

{% block body %}
    <h1 id="pageTitle">{{ element.title }}</h1>
    <span style="color: peru;"><strong>[ Status: {{ element.status }} ]</strong></span>
    <br>
    <span style="color:darkgrey">Last updated on {{ element.updated|date("%B %d, %Y") }} by {{ element.author.email }}</span>
    <hr>
    <h2>Summary</h2>
    <p>{{ element.summary }}</p>
    <hr>
    <div class="content">
        {{ element.content|safe }}
        {% if element.title == "Color" %}
            <div class="colors">
                {% for color in colors %}
                    <div class="color-container">
                        <div class="fill" style="background-color: #{{ color.hex }}"></div>
                        <h3>{{ color.name }}</h3>
                        <pre>{{ color.hex }}</pre>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}