{% extends "base.html" %}

{% block body %}
    <h5>{{ element.type|capitalize }}s</h5>
    <h1><span id="pageTitle">{{ element.title }}</span>{% if element.experimental %}<div class="tag">Experimental</div>{% endif %}</h1>
    <span style="color:darkgrey">Last updated on {{ element.updated|date("%B %d, %Y") }} by {{ element.author.email }}</span>
    <br>
    {% if element.type == "component" %}
        <div class="status-key">
            {% for stat in element.status %}
                <span>
                    {% with status=stat.name|lower %}
                        {% include "status-icon.html" %}
                    {% endwith %}
                    {{ stat.category }}
                </span>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    <h2>Summary</h2>
    <p>{{ element.summary }}</p>
    <hr>
    <div class="content">
        {{ element.content|safe }}
        {% if element.title == "Color" %}
            <h2>Neutrals</h2>
            {% with colorz=neutrals %}
                {% include "color.html" %}
            {% endwith %}
            <h2>Colors</h2>
            {% with colorz=colors %}
                {% include "color.html" %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}