{% extends "base.html" %}

{% block body %}
    <h1>{{ element.title }}</h1>
    <span style="color: peru;"><strong>[ {{ element.status }} ]</strong></span>
    <br>
    <span style="color:darkgrey">Last Updated {{ element.updated|date("%Y/%m/%d") }} by {{ element.author.email }}</span>
    <hr>
    <h2>Summary</h2>
    <p>{{ element.summary }}</p>
    <hr>
    <div class="content">
        {{ element.content|safe }}
        {% if element.title == "Color" %}
            {% for color in colors %}
                <div class="color-container">
                    <div class="fill" style="background-color: #{{ color.hex }}"></div>
                    <h3>{{ color.title }}</h3>
                    <pre>{{ color.hex }}</pre>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}