{% extends "base.html" %}

{% block body %}
    <h1>Welcome to Quill!</h1>
    <p>Quill is Sigstr's design system. Quill is intended to be used across all paid products within the Sigstr platform. This includes:</p>
    <ul>
        <li>app.sigstr.com</li>
        <li>pulse.sigstr.com</li>
        <li>csportal</li>
        <li>Chrome Extension</li>
    </ul>
    <hr>
    <h3>Latest Updates</h3>
    <ul>
        {% for post in posts %}
            <li><h4><a href="{% url "post", post %}">{{ post.title }}</a></h4><div style="color: grey;">Published {{ post.published|date("%Y/%m/%d") }} by {{ post.author.email }}</div></li>
        {% endfor %}
    </ul>
{% endblock %}